body {
  margin: 0;
  padding: 0;
  font-family: "Fauna One", sans-serif;
}
h1 {
  font-family: "Cinzel", serif;
  font-size: 45px;
  padding-left: 5px;
}
h2 {
  font-size: 35px;
  text-align: center;
}
.accent-color {
  color: blueviolet;
}
.container-flex {
  display: flex;
  padding: 50px;
}
.header-area p {
  margin: 30px 0;
}
.fifty-percent {
  width: 50%;
  padding-left: 5%;
}
#header-top {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
.header-area img {
  margin-top: -100px;
  width: 80%;
}
.global-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, blueviolet, blue);
  color: white;
  font-weight: 800;
  padding: 10px 25px;
  border-radius: 5px;
}
.mission-item {
  width: 32%;
  margin-left: 2%;
  padding: 20px;
  border-radius: 20px;
}
#light-coral {
  background-color: lightcoral;
}
#light-salmon {
  background-color: lightsalmon;
}
#light-pink {
  background-color: lightpink;
}
.mission-item img {
  width: 40%;
}
